@font-face {
  font-family: Sahel;
  src: url('Sahel.eot');
  src: url('Sahel.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
  font-weight: normal;
}

* {
	font-family: Sahel !important; 
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 60px;
}

.navbar {
	padding: 20px !important;
}

.nav-iitem{
    padding-right: 1100px !important;
}

